################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DriectNandFlash
/NandFlashRW_Emu
/YAFFSEmu
/YAFFS2_Emulator
